<div class="background">
    <h1>Contact</h1>
    <br>
    <br>
    <h1>Welcome to Contact page</h1>
    <br>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit soluta vel similique error! Quia, facilis! Dolores
        delectus, quis dignissimos quia rem repellat iusto debitis nobis minima itaque consectetur repudiandae facilis!
        Nihil at, porro quos, inventore asperiores laboriosam debitis tempore minus laborum ipsa aspernatur aliquam
        voluptatem sint rem. Error non dolore repellat, tempore optio consequatur aperiam modi tempora, inventore
        reiciendis distinctio impedit! Facilis, modi maiores. Quasi voluptatum, magnam saepe, cumque inventore nobis
        similique id officia accusamus quas dignissimos ut perferendis totam. Cum quos quasi nemo nesciunt impedit rerum
        quo, eveniet, expedita voluptate earum debitis eos libero est quae odit ducimus quis, vel sint velit consectetur
        perspiciatis ipsum fugit. Numquam hic illum eos unde perspiciatis ea recusandae eligendi voluptatibus ab
        consequatur atque fuga quasi repudiandae distinctio vero deserunt culpa fugit laborum, accusantium soluta? Aut
        quos, corrupti commodi obcaecati minus architecto eum eos voluptatibus enim atque, quis dolorem sequi, alias
        expedita aliquam nulla! Tempore corrupti officia adipisci dolor nemo tempora magnam fuga est accusantium maxime
        tenetur at rem aliquid debitis, provident, nisi officiis! Error nulla voluptatibus iure voluptate obcaecati
        tempora. Porro, molestias facere aliquam, aspernatur quisquam neque quae ab nam sapiente libero, esse impedit
        labore. Quis incidunt eum ad? Ea molestiae cum necessitatibus ex ullam et, dolore illo voluptatibus soluta
        laboriosam quod nostrum numquam accusamus quas! Temporibus ullam blanditiis placeat? Dolorum, tempore animi
        eligendi hic, soluta praesentium suscipit autem quo, a perferendis quaerat rerum quam? Nulla aliquam repudiandae
        ad asperiores, perspiciatis at excepturi consequatur? Explicabo, eos ea omnis odio maiores dolores qui
        consequatur sit beatae voluptates, placeat, nihil ullam quos debitis impedit architecto magnam necessitatibus
        eaque neque. Eos aliquam reprehenderit earum amet? Dolores eaque quaerat quia exercitationem dignissimos eos
        nam? Ut quam eos voluptatibus aliquam quis, inventore labore. Est nemo perspiciatis odio placeat, deleniti
        voluptate, et eligendi, provident architecto amet atque totam ipsum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit officiis iste repellendus aperiam,
        dicta consequatur ut cum quae.</p>
</div>