<div class="background">

    <section class="about" id="about">
        <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

        <div class="row">

            <div class="image">
                <img draggable="false" class="tilt" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqFp5uI5ufEuxuiycZtwlZFe3xx2H7CwGeQNoHfyNZbisq8Sim" alt="profile">
            </div>
            <div class="content">
                <h3>I'm Nishant sisodiya</h3>
                <span class="tag">Angular Developer</span>

                <p>I am an Angular developer based in Mohali,chandigarh, India.
                    I am a bachalors of vocation (Telematics) undergraduate from Dayalbagh Educational Institute.
                    I am very passionate about improving my coding skills & developing applications & websites.
                    I build WebApps and Websites using Angular and React.
                    Working for myself to improve my skills.
                </p>

                <div class="box-container">
                    <div class="box">
                        <p><span> age: </span> 22</p>
                        <p><span> phone : </span> +91 790-023-8869</p>
                    </div>
                    <div class="box">
                        <p><span> email : </span> nishantsisodiya4@gmail.com</p>
                        <p><span> place : </span> Mohali, chandigarh, India - 160062</p>
                    </div>
                </div>

                <div class="resumebtn">
                    <a href="#" class="btn"><span>Resume</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>
</div>