/* You can add global styles to this file, and also import other style files */
html {
    background-color: antiquewhite;
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.background {
    align-content: center;
    justify-content: center;
    background-color: rgb(236, 226, 226);
    color: black;
    text-align: center;
    width: 92vw;
    height: 100%;
}

#btn {
    margin-left: 2px;
    margin-right: 0;
}

#btn2 {
    margin-left: auto;
    margin-right: 0;
}