<h3>Samsung smart Tv</h3>
<img src="https://www.cnet.com/a/img/resize/a02dad955b8bbba9741af353237be6f4046f0770/hub/2022/06/22/872fa7ca-8a46-46fd-b035-8bb01e40257d/samsung-qn65qn60b-tv-5616.jpg?auto=webp&fit=crop&height=528&width=940"
    alt="TV" width="100%">
<br>
<br>
<h4>Specifications</h4>
<br>
<pre>
<p> 4K UHD 3840 x 2160 LED Panel
    HDR10 & HLG Support
    Motion Rate 120 Technology
    Auto Low Latency Mode for Gaming
    Wi-Fi, Ethernet, AirPlay 2 Connectivity
    Alexa, Google Assistant, Bixby Support
    Screen Mirroring Technology
    Full Web Browser
    2 x HDMI / 1 x USB
    Dolby Digital Plus</p>
</pre>